@model List<Galeri>
    <!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/Shared/images/bg/bg3.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-white">@ViewBag.KatAdi</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Portfolio Gallery Grid -->
                <div id="grid" class="gallery-isotope grid-4 clearfix">

                    @foreach (var item in Model)
                    {
                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="images/portfolio/1.jpg" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a data-lightbox="image" href="@item.Resim"><i class="fa fa-plus"></i></a>
                                            <a href="/Galeri/Goster/@item.Id"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a class="hover-link" data-lightbox="image" href="@item.Resim">View more</a>
                            </div>
                            <div class="portfolio-description">
                                <h5 class="title"><a href="#">@item.GaleriKat.Ad</a></h5>
                                @*<span class="category"><span>Category Art</span></span>*@
                            </div>
                        </div>
                        <!-- Portfolio Item End -->
                    }
                </div>
                <!-- End Portfolio Gallery Grid -->
            </div>
        </div>
    </div>
</section>