@model List<SSS>
<!-- Section: COURSES -->
@{
    string yazi = "";
}

<div class="col-md-6">
    <h3 class="line-bottom mt-0 line-height-1">Sık Sorulan <span class="text-theme-color-2"> Sorular?</span></h3>
    @*<p class="mb-10">The Cweren Law Firm is a recognized leader in landlord tenant representation throughout Texas.The largest professional property.</p>*@
    <div id="accordion1" class="panel-group accordion">
        @foreach (var item in Model)
        {
            <div class="panel">
                <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> @item.Ad</a> </div>
                <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                    <div class="panel-content">
                        <p>@item.Aciklama</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

