<!-- Section: home -->
<section id="home" class="fullscreen bg-lightest">
    <div class="display-table text-center">
        <div class="display-table-cell">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="font-150 text-theme-colored mt-0 mb-0"><i class="fa fa-map-signs text-theme-color-2"></i>Üzgünüz!</h1>
                        <h2 class="mt-0">Başvurularımız Sona Ermiştir.</h2>
                        @*<p>Gitmek istediğiniz sayfayı bulamıyoruz ne yazıkki.</p>*@
                        <a class="btn btn-border btn-gray btn-transparent btn-circled" href="/">Anasayfaya Geridön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>