@model List<Haber>
    <div class="widget">
        <h5 class="widget-title line-bottom">En Çok Okunan Haberler</h5>
        <div class="latest-posts">
            @foreach (var item in Model)
            {
                <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="@item.Resim" width="75" height="75" alt=""></a>
                    <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">@item.Baslik</a></h5>
                        <p>
                            @try
                        {
                            item.Icerik.Substring(1, 50).ToString();
                        }
                        catch (Exception)
                        {

                        }
                      </p>
                    </div>
                </article>
            }
        </div>
    </div>