@model KullaniciModel
    <script>
        $(function () {
            $("#SifreGonder").click(function () {
                var KullaniciAd = $("#exampleInputEmail2").val();
                $.ajax({
                    type: "POST",
                    url: "/Ogrenci/SifremiUnuttum",
                    data: { KullaniciAd: KullaniciAd },
                    dataType: "json",
                    success: function (data) {
                        if (data == "ok") {
                            $("#sonuc").append("<div class='alert alert-success'>Tebrikler! Şifre Sıfırlama Mailiniz Email adresinize gönderilmiştir.</div>");
                        } else {
                            $("#sonuc").append("<div class='alert alert-danger'>Hata! Şifre Sıfırlama Başarısız oldu.(Mail Kayıtlı olmayabilir)</div>");
                        }
                    }

                });
            });
        });
    </script>
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/Shared/images/bg/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Öğrenci Paneli</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="/">Anasayfa</a></li>
                            <li><a href="#">Öğrenci</a></li>
                            <li class="active text-gray-silver">Şifremi Unuttum</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div id="sonuc"></div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Öğrenci Şifremi Unuttum Paneli</h2>
                    <hr>
                    @*<div class="heading-line-bottom">
                    <h4 class="heading-title">Basic example</h4>
                </div>*@

                    <div data-example-id="basic-forms" class="bs-example mb-30">
                        @*<form action="/Ogrenci/SifremiUnuttum" method="post">*@
                            <div class="form-group">
                                <label for="exampleInputEmail2">Email Adresiniz / Kullanıcı Adınız</label>
                                <input type="email" placeholder="Email Adresiniz / Kullanıcı Adınız" id="exampleInputEmail2" class="form-control" name="KullaniciAd">
                            </div>
                            <button class="btn btn-default" type="button"  id="SifreGonder">Şifremi Gönder</button>
                        @*</form>*@
                    </div>
                </div>


            </div>
        </div>
    </section>
    @section Javascript{

        <script src="~/jqueryValid/jquery.validate.min.js"></script>
        <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
    }