<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['TIP', 11],
            ['MÜHENDİSLİK', 2],
            ['SOSYAL', 2],
            ['YÜKSEK OKUL', 2],
            ['DİĞER', 7]
        ]);

        var options = {
            title: 'Izburs Bursiyer Dağılımı'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#btnAcik").hide();
        //$("#btnKapali").hide();
        $.ajax({
            type: "POST",
            url: "/Admin/Home/BasvuruDurum",
            //data: { id: id, durumId: durumId },
            dataType: "json",
            success: function (data) {
                if (data == "ok") {
                    $("#btnDurum").removeClass("danger");
                    $("#btnDurum").removeClass("success");
                    $("#btnDurum").html("AÇIK");
                    /*   $("#btnAcik").show();*/
                    //$("#basvurum").html("<button class='btn btn-success' type='submit' id='btnDurum'>AÇIK</button>");
                } else {
                    $("#btnDurum").removeClass("success");
                    $("#btnDurum").addClass("danger");
                    $("#btnDurum").html("KAPALI");
                    /*   $("#btnKapali").show();*/
                    //$("#basvurum").html("<button class='btn btn-danger' type='submit' id='btnDurum'>KAPALI</button>");
                }
            }
        });
        $("#btnDurum").click(function () {
            $.ajax({
                type: "POST",
                url: "/Admin/Home/BasvuruDurumDegistir",
                //data: { id: id, durumId: durumId },
                dataType: "json",
                success: function (data) {
                    if (data == "ok") {
                        $("#btnDurum").removeClass("danger");
                        $("#btnDurum").removeClass("success");
                        //$("#btnDurum").val("AÇIK");
                        $("#btnDurum").html("AÇIK");
                        // $("#btnAcik").show();
                        //$("#btnKapali").hide();
                        // $("#basvurum").html("<button class='btn btn-success' type='submit' id='btnDurum'>AÇIK</button>");
                    } else {
                        $("#btnDurum").removeClass("success");
                        $("#btnDurum").addClass("danger");
                        $("#btnDurum").html("KAPALI");
                        //$("#btnAcik").hide();
                        //$("#btnKapali").show();
                        // $("#basvurum").html("<button class='btn btn-danger' type='submit' id='btnDurum'>KAPALI</button>");
                    }
                }
            });
        });
        //$("#btnKapali").click(function () {

        //});
    });
</script>
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Yönetim Paneli</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Yönetici</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Panel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <!-- Documents card start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card client-blocks dark-primary-border">
                                <div class="card-block">
                                    <h5>Başvuru Sayısı</h5>
                                    <ul>
                                        <li>
                                            <i class="icofont icofont-document-folder"></i>
                                        </li>
                                        <li class="text-right">
                                            @ViewBag.BasvuruSayisi
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Documents card end -->
                        <!-- New clients card start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card client-blocks warning-border">
                                <div class="card-block">
                                    <h5>Burslu Sayısı</h5>
                                    <ul>
                                        <li>
                                            <i class="icofont icofont-ui-user-group text-warning"></i>
                                        </li>
                                        <li class="text-right text-warning">
                                            @ViewBag.Burslu
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- New clients card end -->
                        <!-- New files card start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card client-blocks success-border">
                                <div class="card-block">
                                    <h5>Mezun Sayısı</h5>
                                    <ul>
                                        <li>
                                            <i class="icofont icofont-files text-success"></i>
                                        </li>
                                        <li class="text-right text-success">
                                            @ViewBag.Mezun
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- New files card end -->
                        <!-- Open Project card start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card client-blocks">
                                <div class="card-block">
                                    <h5>Bursu Kesilen Sayısı</h5>
                                    <ul>
                                        <li>
                                            <i class="icofont icofont-ui-folder text-primary"></i>
                                        </li>
                                        <li class="text-right text-primary">
                                            @ViewBag.Basarisiz
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Open Project card end -->
                        <!-- Notification Start -->
                        @*<div class="col-md-12 col-xl-5">
                            <div class="card">
                                <div class="card-block">
                                    <h5>Son Yapılan İşlemler</h5>
                                </div>
                                <div class="card-block p-t-20">
                                    <div class="card-notification">
                                        <div class="card-noti-conatin">
                                            <h6>5 mins ago</h6>
                                            <p class="text-muted m-b-30">jennifer sent you an attachament</p>
                                        </div>
                                    </div>
                                    <div class="card-notification">
                                        <div class="card-noti-conatin">
                                            <h6>45 mins ago</h6>
                                            <p class="text-muted m-b-30">Paul has sent a request for <span>access</span> to the project folder</p>
                                        </div>
                                    </div>
                                    <div class="card-notification">
                                        <div class="card-noti-conatin">
                                            <h6>2 days ago</h6>
                                            <p class="text-muted m-b-30">Demin change the dedline on the project</p>
                                        </div>
                                    </div>
                                    <div class="card-notification">
                                        <div class="card-noti-conatin">
                                            <h6>12 mins ago</h6>
                                            <p class="text-muted m-b-30">jennifer invite you to join the project</p>
                                        </div>
                                    </div>
                                    <div class="card-notification">
                                        <div class="card-noti-conatin">
                                            <h6>60 mins ago</h6>
                                            <p class="text-muted m-b-30">Josephine <span>share</span> a folder with you</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <h5>Number of Transaction</h5>
                                </div>
                                @*<div class="card-block client-card table-1-card p-t-0">*@
                                    <div id="piechart" style="width: 600px; height: 500px;"></div>
                                @*</div>*@
                            </div>
                        </div>
                        <!-- Notification End -->
                        <!-- Todo card start -->
                        @*<div class="col-md-12 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Yapılacaklar Listesi</h5>
                    <label class="label label-success">Today</label>
                </div>
                <div class="card-block">
                    <div class="input-group input-group-button">
                        <input type="text" class="form-control add_task_todo" placeholder="Create your task list" name="task-insert">
                        <span class="input-group-addon" id="basic-addon1">
                            <button id="add-btn" class="btn btn-primary">Add Task</button>
                        </span>
                    </div>
                    <div class="new-task">
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Hey.. Attach your new file</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>New Attachment has error</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Have to submit early</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>10 pages has to be completed</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Navigation working</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Files submited successfully</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                        <div class="to-do-list">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="check-task">
                                    <input type="checkbox" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Work Complete Before Time</span>
                                </label>
                            </div>
                            <div class="f-right">
                                <a href="#!" class="delete_todolist"><i class="icofont icofont-ui-delete"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                        <!-- Todo card end -->
                        <!-- Social user card start -->
                        <div class="col-lg-6 col-xl-3">
                            <div class="card borderless-card">
                                <div class="profile-card">
                                    <img class="img-fluid" src="/Tasarim/dark/assets/images/widget/profile-person1.jpg" alt="">
                                    <div class="card-block">
                                        <h3>BAŞVURU FORMU</h3>
                                        <p>Bu bölümden Aktif/Pasif edebilirsiniz</p>
                                        @*<button class="btn btn-success" type="submit" id="btnDurum"></button>*@
                                        <p id="basvurum"></p>
                                        @*<form method="post" action="/Admin/Home/BasvuruDurumDegistir">*@

                                        <p id="btnAcik">
                                            <button class="btn btn-success" type="submit" id="btnDurum">AÇIK</button>
                                        </p>
                                        @*<p id="btnKapali">
                            <button class="btn btn-danger" type="submit" id="btnDurum">KAPALI</button>
                        </p>*@
                                        @* </form> *@

                                    </div>
                                </div>
                                @*<div class="card-footer bg-inverse">
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <h4>134</h4>
                            <span>Shots</span>
                        </div>
                        <div class="col-sm-4">
                            <h4>13,227</h4>
                            <span>Shots</span>
                        </div>
                        <div class="col-sm-4">
                            <h4>488</h4>
                            <span>Shots</span>
                        </div>
                    </div>
                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>
